<html>
    <body>
    <H2>(<%= userName %>)</H2>
        <% if (c.length > 0) { %>
            <ul>
            <% for (var  of ) { %>
            <li>Booking ID: <a href="/details?_id=<%= b._id %>"><%= b.bookingid %></a></li>
            <% } %>
        </ul>

              <% } %>
            
            <% } else { %>
            <h1>Nothing to Show!</h1>
            <% } %>
        
        
    </body>
</html>
