<html> 
<body> 
    <p>Holle</p>
<form action="/signUp" method="POST"> 
User ID: <input type="text" name="id" />
Password: <input type="password" name="password" /><br>
<br> <input type="submit" value="Sign Up"></input>
</form> 
</body> 
</html>